a img
{
	border: 0px
}

a:visited, a:link
{
	text-decoration: none;
	color: #0066CC;
}

a:hover, a:active
{
	text-decoration: underline;
	color: #CC3333;
}

body
{
	margin: 0em;
	padding: .5em;
	background-color: white;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body, td, th
{
  font-size: 10pt;
}

ul
{
	list-style-image: url(../images/green_dot.png);
	line-height: 150%;
}

.footer
{
	margin-top: 2em;
	margin-bottom: 0px;
	clear: both;
	font-style: italic;
	font-size: 8pt;
}
